**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.idea
**/*.dbmdl
**/*.jfm
**/node_modules
**/secrets.dev.yaml
**/values.dev.yaml
**/.DS_Store
**/Thumbs.db
**/*.db
**/*.db-shm
**/*.db-wal
