<div class="pagination">
  <div class="pagination__info">
    <span class="pagination__text">
      Mostrando {{ startItem }} a {{ endItem }} de {{ total }} resultados
    </span>
  </div>

  <div class="pagination__controls">
    <button
      type="button"
      class="pagination__btn"
      [disabled]="currentPage === 1"
      (click)="goToPage(1)"
      title="Primeira página"
    >
      <app-icon name="arrow-left" [size]="16" />
      <app-icon name="arrow-left" [size]="16" />
    </button>

    <button
      type="button"
      class="pagination__btn"
      [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)"
      title="Página anterior"
    >
      <app-icon name="arrow-left" [size]="16" />
    </button>

    @for (page of pages; track page) {
      <button
        type="button"
        class="pagination__btn pagination__btn--page"
        [class.pagination__btn--active]="page === currentPage"
        (click)="goToPage(page)"
      >
        {{ page }}
      </button>
    }

    <button
      type="button"
      class="pagination__btn"
      [disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)"
      title="Próxima página"
    >
      <app-icon name="arrow-right" [size]="16" />
    </button>

    <button
      type="button"
      class="pagination__btn"
      [disabled]="currentPage === totalPages"
      (click)="goToPage(totalPages)"
      title="Última página"
    >
      <app-icon name="arrow-right" [size]="16" />
      <app-icon name="arrow-right" [size]="16" />
    </button>
  </div>

  <div class="pagination__size">
    <label for="pageSize" class="pagination__size-label">Itens por página:</label>
    <select
      id="pageSize"
      class="pagination__size-select"
      [value]="pageSize"
      (change)="onPageSizeChange($event)"
    >
      @for (size of pageSizeOptions; track size) {
        <option [value]="size">{{ size }}</option>
      }
    </select>
  </div>
</div>
